* {
    box-sizing: border-box;
  }
body {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    background-color: var(--neutral-light);
    color: var(--primary);
  }
:root {
    --primary: hsl(268, 26%, 24%);
    --primary-light: hsl(269, 18%, 57%);
    --secondary: hsl(340, 67%, 57%);
    --secondary-light: hsl(342, 40%, 87%);
    --neutral-dark: hsl(233, 8%, 62%);
    --neutral: hsl(232, 38%, 88%);
    --neutral-light: hsl(220, 16%, 96%);
    --white: hsl(0, 0%, 100%);
    --fail: hsl(355, 47%, 52%);
    --pass: hsl(137, 57%, 59%);
  }

.application {
    margin: auto;
    max-width: 600px;
}
.application__title {
    color: var(--secondary);
    text-align: center;
}

.about__description {
    color: var(--priary-light)
}
.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.reset__button {
    background-color: var(--secondary-light);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    width: 100px;
}

.reset__button:hover {
    border: 1px solid var(--secondary);
    opacity: 0.8;
}

.reset__button:focus {
    border: 1px solid var(--secondary);
    outline: none !important;
}

.timer__bar {
    align-items: center;
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--secondary-light);
    display: flex;
    height: 24px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.timer__counter {
    color: var(--secondary);
    font-size: 14px;
    z-index: 2;
}

.progress__bar {
    background-color: var(--secondary-light);
    border-radius: 8px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.excercise,
.excercise__record,
.resutls {
    background-color: var(--white);
    border-radius: 4px;
    border: none;
    margin-top: 24px;
    padding: 8px;
    padding: 8px;
    text-align: center;
    width: 100%;
}

.excercise {
    height: 112px;
    overflow: hidden;
}
.excercise__record {
    background-color: var(--secondary-light);
}
.excercise__record:focus {
    outline: none !important;
    background-color: var(--white);
}
.excercise-word {
    padding: 4px 8px;
    line-height: 2;
}
.--active{
    background-color: var(--neutral);
    border-radius: 4px;
}
.--pass{
    color: var(--pass);
}
.--fail{
    color: var(--fail);
}
.--correct{
    color: var(--white);
}
.--incorrect{
    color: var(--fail);
}

.resutls{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    opacity: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
}
.--visible{
    transform: translateY(-100%);
    opacity: 1;
}

.results__title{
    color: var(--primary-light);
    font-size: 24px;
    padding: 8px;
}

.resutls__score{
    display: flex;
    justify-content: center;
}

.score__indicator {
    padding: 8px
}

.indicator__shortcut {
    color: var(--primary);
    font-size: 24px;
    font-weight: bold;
}

.indicator__description {
    color:var(--neutral);
    font-size: 14px;
}

.indicator__value{
    color:var(--primary-light);
    font-size: 36px;
    font-weight: bold;
    padding: 8px
}